@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center py-5">
    <h1 class="display-4">FAST Equipment Tool</h1>
    <p class="lead">
        This application allows you to view available IT equipment, browse all listings,
        and submit a request to borrow equipment.
    </p>
</div>
