@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Welcome to FAST Equipment Tool</h1>
        <p>This form will be used to request IT Equipment to be borrowed</p>
    </div>
</div>

<div class="mt-4">
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Home</a>
    <a href="/AllEquipment" class="btn btn-outline-secondary">All Equipment Listing</a>
    <a href="/AvailableEquipment" class="btn btn-outline-success">Available Equipment</a>
    <a href="/RequestForm" class="btn btn-primary">Request Form</a>
</div>
